{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
{% block flash %}
{% endblock %}
<body class="bg-login" style="background: url('{{ asset('img/bg-assurance.jpg') }}');background-size: cover">

<div class="container" style=" padding-left: 40rem;">
    <div class="card card-login mx-auto mt-5" style="background-color: rgba(255,255,255,0.7);">
        <div class="card-header text-center"><h6>Mot de passe</h6></div>
        <div class="card-body">
            <div class="d-flex justify-content-center mb-2">
                <img class="mb-2" src="{{ asset('img/talan-academy.png') }}" width="200px" height="120px">
            </div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="text-center mb-4">
                <p>Veuillez introduire votre mot de passe</p>
            </div>
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-lg btn-primary mb-2 mt-2" type="submit">
                        Valider
                    </button>
                </div>
                {{ form_end(form) }}
                <br>
                <div class="text-center">
                    <a class="d-block small" href="{{ url('app_login') }}">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
{% endblock %}
